* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #F7F7F7;
    overflow-x: hidden;
    width: 100%;
    font-family: Arial, sans-serif;
}
.nav {
    height: 5.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw 0;
    margin-bottom: 10px;
}
.navButton:hover,
.navButton:visited,
.navButton:active {
    color: black;
    text-decoration: none; 
}
.box {
    z-index: 1000;
    padding: 0px 25px;
    border: 2px solid white;
    box-shadow: 2px 2px 2px lightgray;
    border-radius: 40px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
}
.box img {
    width: 8vw; 
    height: auto; 
    
}
.navButton {
    margin: 0 1vw;
    font-size: 1.2vw;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.navButton button {
    padding: 0.5vw 1.5vw;
    border: none;
    border-radius: 20px;
    background-color: #9fc9ff; 
    color: black;
    font-size: 1vw;
    cursor: pointer;
}
.signIn { 
    border: 2px solid #9fc9ff; 
    color: black;
}
.contact button {
    background-color: #85B5FE;
    color: black;
}
.ri-shopping-cart-2-fill, .ri-search-line, .ri-phone-fill {
    font-size: 1.5vw;
    color: black;
    margin-right: 0.5vw;
}
.ri-shopping-cart-2-fill, .ri-search-line{
    border: 1px solid #666;
    padding: 4px 4px;
    border-radius: 15px;
    background-color: #e7e4e4;
}
.first-scroll{
    background-color: #141E2E;
    height: 75vh;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15vw;
    padding-right: 10vw;
    color: wheat;
    
}
.first-scroll-part1{
    font-size: 20px;
    height: 100%;
    width: 15vw;
    font-size: 4vw;
}
.first-scroll-part2{
    height: 100%;
    width: 50%;
    background-image: url(image\ \(2\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.text{
    color: white;
    font-weight: 900;
    line-height: 4.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text span{
    color: #6EA6FC;
}
.text button{
    border: 2px solid #83B3FC;
    padding: 20px 30px;
    border-radius: 40px;
    font-size: 1.5vw;
    background-color: #83B3FC;
    margin-top: 20px;
}
.space{
    height: 14vh;
    width: 100%;
}
.second-scroll{
    height: 80vh;
    width: 100%;
    display: flex;
}
.second-scroll-part1{
    width: 50%;
    height: 100%;
    background-image: url(main3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0%;
    transform: scale(0.5);
    animation: bulge 2s ease-in-out infinite;
}

@keyframes bulge {
    0%, 100% {
        opacity: 1;               
        transform: scale(0.7);     
    }
    50% {
        opacity: 1;            
        transform: scale(1);    
    }
}
.second-scroll-part2{
    width: 50%;
    height: 100%;
    padding-right: 60px;
    
}
.training {
    font-size: 4vw;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 4.2vw;
    letter-spacing: -0.02em; 
    padding: 20px 35px;
    border: 2px solid white;
    box-shadow: 15px 15px 15px lightblue , -15px 15px 15px lightblue;
}

.second-scroll-part2 span {
    padding-right: 40px;
    font-size: 1.2vw;
    line-height: 1.5vw; 
    letter-spacing: -0.01em; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
}
.space2{
    height: 2vh;
    width: 100vw;
}

.third-scroll {
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #E6F9F8; 
}

.third-scroll-part-text {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 40px;
}

.text-content {
    font-size: 1.5vw;
    font-family: 'Verdana', sans-serif;
    text-align: left;
    color: black;
    padding: 30px;
}

.text-content h2 {
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 1vw;
}
.text-content strong{
    font-size: 1.5vw;
    font-weight: bold;
}

.text-content p {
    font-size: 1.2vw;
    margin-bottom: 1.5vw;
}

.text-content button {
    padding: 1vw 2vw;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.2vw;
    border-radius: 20px;
    cursor: pointer;
}

.third-scroll-part-image {
    padding: 20px 0px;
    width: 50%;
    background-image: url('main2.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fourth-scroll{
    height: 60vh;
    width: 100%;
    background-color: #151E2E;
    color: white;
    padding: 70px 100px;
}
.fourth-scroll-instructor{
    height: 50vh;
    width: 100%;
    display: flex;
    gap: 20px;
}
.instructor{
    height: 100%;
    width: 25%;
    padding: 20px 20px;
}
.instructor-image{
    border: none;
    border-radius: 100px;
    height: 25%;
    width: 30%;
}
.instructor-name{
    font-size: 1.3vw;
    font-weight: bold;
}
.instructor-image{
    background-image: url(Anon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fifth-scroll{
    height: 38vh;
    width: 100%;
    padding: 80px 100px;
}
.fifth-scroll h1{
    font-size: 3vw;
    font-weight: 1000;
}
.fifth-scroll h4{
    font-weight: 500;
    font-size: 1.6vw;
}
.fifth-scroll button {
    padding: 1vw 2vw;
    border: none;
    background-color: #5395f9;
    color: white;
    font-size: 1.2vw;
    border-radius: 40px;
    cursor: pointer;
}
.bottom{
    height: 51.5vh;
    width: 100%;
    background-color: #141E2E;
    color: white;
    padding: 80px 120px;
}
.footer {
    text-align: center;
    color: white;
}
.fotter-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line{
    height: 2px;
    background-color: white;

}
.footer h2 {
    font-size: 2vw;
    font-weight: 600;
}
.footer button {
    padding: 1vw 2vw;
    border: none;
    background-color: #5395f9;
    color: white;
    font-size: 1.2vw;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 10px;
}
.footer-info {
    margin-top: 20px;
    font-size: 1vw;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer-info i {
    margin-right: 5px;
}
.footer-bottom {
    margin-top: 30px;
    font-size: 1vw;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
.footer-bottom .odoo {
    color: #5395f9;
}
#ContactUsEmailLink a {
    color: white;     
    text-decoration: none;
}

#ContactUsEmailLink a:hover {
    color: white;     
    text-decoration: underline; 
}

#ContactUsEmailLink a:visited {
    color: white;
}

/* Blog and help page*/
.helpPage {
    background-color: white;
}
.label_ticket {
    width: 200px;
    font-family: Noto Sans Oriya;
    color: #212529;
    font-size: 16px;
}
.ask {
    width: 500px;
    margin-left: 20px;
    border-radius: 6px;
    border: 1px black solid;
}
.input_ticket {
    margin-left: 20px;
    width: 500px;
    height: 40px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px black solid;
}
.submit_ticket {
    border: 2px solid #83B3FC;
    padding: 20px 30px;
    border-radius: 40px;
    font-size: 1.5vw;
    background-color: #83B3FC;
    margin-left: 330px;
    margin-bottom: 30px;

}

.form-group {
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
    align-items: center;
    margin-left: 110px;
}
.head_form {
    margin-top: 40px;
    font-size: 42.015px;
    color: dimgrey;
    margin-left: 110px;
    font-family: Odoo Unicode support noto;
    color: #212529BF;
    font-weight: 900;
}
.attachment_ticket{
    margin-left: 20px;
    width: 500px;
    background-color: #Black, FFFFFF;
    border-radius: 6px;
    border: 1px black solid;
    font-size: 18px;
    font-family: Odoo Unicode support noto;
    font-weight: 100;
}
.news {
    margin-top: 10px;
    background-color: black;
    height: 150px;
    color: white;
    padding-top: 50px;
    padding-left: 7%;
    font-size: 50px;
}
.post {
    background-color: white;
    height: 100px;
    padding-left: 7%;
    color: black;
    font-size: 50px;
    padding-top: 10px;
    font-weight: bold;
}
.head_blog {
    height: 100px;
    padding: 8px;
    font-size: 16px;
    padding-top: 40px;
    color: #000000A6;
}
.blog {
    height: 100px;
    font-size: 16px;
    margin-left: 7%;
    padding: 8px;
    padding-top: 40px;
    color: #212529;
    font-family: Odoo Unicode support noto;
}
.search_bar {
    height: 42px;
    background-color: #F0F2F5;
    width: 216.5px;
    margin-top: 40px;
    border: 0px;
    padding-left: 10px;
    font-size: 16px;
    font-family: Odo Unicode support noto;
    border-radius: 6px 0 0 6px;
}
.search_button {
    height: 42px;
    width: 50px;
    background-color: #F0F2F5;
    margin-top: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 0 6px 6px 0;
}
.all {
    background-color: white;
    height: 150px;
    color: #212529;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Odoo Unicode support noto;
    font-weight: 900;
    font-size: 62px;
}
.ourBlog {
    margin-top: 10px;
    background-image: url("https://e360.yale.edu/assets/site/Credit-Inspiration4-Crew-via-Flickr.jpg");
    background-width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    color: white;
    padding-top: 50px;
    padding-left: 7%;
    font-size: 50px;
    width: 100%;
}
/* sign in pages */
.loginPage {
    width: 100%;
    height: 350px;
}

.loginPage label {
    width: 300px;
    font-family: Noto Sans Oriya;
    color: #212529;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.loginPage input{
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px black solid;
    padding-left: 10px;
}
.login_submit {
    border: 2px solid #83B3FC;
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 40px;
    font-size: 1.5vw;
    background-color: #83B3FC;
    width: 300px;
}
.noAcc {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    color: blue;
}
/* Done with login pages */

/* pricing page */

.topcontent h1 {
    font-size: 38px;
}

.topcontent p {
    font-size: 14px;
}

.topcontent {
    margin: 50px 96px 111px;
    padding: 0px 15px;
}

.pricinghead {
    width: 100%;
    height: 110px;
    padding-top: 24px;
    background-image: url(https://edsage.odoo.com/web/image/website.s_parallax_default_image);
}

.pricingcontent h1 {
    color: white;
    font-size: 62px;
    margin: 0px 111px;
}

.connect {
    border: 1px solid black;
    border-radius: 10px;
    align-content: center;
}

.Meeting_Book {
    width: 100%;
    color: #6FA8FE;
    border-radius: 25px;
    padding: 8px 16px;
    margin: 10px 0px;
    font-size: 16px;
}

.Meeting_Book:hover {
    background-color: #5395f9;
    transition: 0.5s;
    color: black;
}

.tickpoints img {
    width: 16px;
    height: 16px;
}

.tickpoints {
    padding: 8px 0px;
    line-height: 28px;
    font-size: 16px !important;
}

.lastpoint {
    background-color: #21252908;
    align-items: center;
}

.connect h1 {
    margin: 0px 0px 8px;
}

.connect {
    padding: 48px 15px;
    margin: 40px 150px;
}

/* pricing page completed */


/* About Us Page*/


.aboutUs{
    height: 45vh;
    background-image: url(138509.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
}
.lienOnAboutUs{
    background-color: gray;
    opacity: 0.8;                
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3); 

}
.aboutUsMain{
    padding: 0px 30px;
}
.Developer{
    font-size: 1.5vw;
    color: rgb(102, 98, 98);
}
.WeDo{
    font-size: 2vw;
    color: rgb(68, 62, 62);
}
.WhatWeDoIN{
    font-size: 1.4vw;
    color: rgb(102, 98, 98);
}
.profileOfEach{
    padding: 20px 30px;
    height: 90vh;
    width: 100%;
    display: flex;
    gap: 10px; 
}
.pr{
    height: 100%;
    width: 33.33%;  
    box-shadow:     2px 2px 2px rgba(0, 0, 0, 0.3), 
    -2px 2px 2px rgba(0, 0, 0, 0.3),  
    2px -2px 2px rgba(0, 0, 0, 0.3),
    -2px -2px 2px rgba(0, 0, 0, 0.3); 
}
.pfimageAbout{
    height: 35%;
    width: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
#pfimageline{
    background-color: blue;
    height: 4px;
}
.pfimagebox{
    background-image: url(Anon.jpg);
    border: 5px white solid;
    height: 100%;
    width: 40%;
    border-radius: 50%;
}
.aboutUstitle, .aboutUspost{
    font-size: 0.7vw;
    padding: 10px 10px;
    text-align: center;
}
#pr2 .pfimagebox{
    background-image: url(PF_Lokesh.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.aboutUsDescription{
    font-size: 1.3vw;
    padding: 10px 25px;
}

/*About us Page CSS End*/




/* pricing page start */


.topcontent h1 {
    font-size: 38px;
}

.topcontent p {
    font-size: 14px;
}

.topcontent {
    margin: 50px 96px 111px;
    padding: 0px 15px;
}

.pricinghead {
    width: 100%;
    height: 110px;
    padding-top: 24px;
    background-image: url(https://edsage.odoo.com/web/image/website.s_parallax_default_image);
}

.pricingcontent h1 {
    color: white;
    font-size: 62px;
    margin: 0px 111px;
}

.connect {
    border: 1px solid black;
    border-radius: 10px;
    align-content: center;
}

button {
    width: 100%;
    color: #6FA8FE;
    border-radius: 25px;
    padding: 8px 16px;
    margin: 10px 0px;
    font-size: 16px;
}

button:hover {
    background-color: #5395f9;
    transition: 0.5s;
    color: black;
}

.tickpoints img {
    width: 16px;
    height: 16px;
}

.tickpoints {
    padding: 8px 0px;
    line-height: 28px;
    font-size: 16px !important;
}

.lastpoint {
    background-color: #21252908;
    align-items: center;
}

.connect h1 {
    margin: 0px 0px 8px;
}

.connect {
    padding: 48px 15px;
    margin: 40px 150px;
}


/* pricing page ends */

/* courses page starts */


.coursescontent {
    margin-left: 30px;
}

.coursescontent h1 {

    font-size: 50px;
}

.coursescontent h2 {
    font-size: 40px;
}



.courseshead {
    background-color: #5395f9;
    width: 100%;
}

.courses {

    display: flex;
    justify-content: space-evenyl;
    flex-wrap: wrap;

}

.coursescontent p {
    font-size: 20px;
}

.heading {
    font-size: 20px;


}

.cols {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 10px;
    background-color: white;
    border-radius: 10px;
    flex: 0 1 calc(33.33% - 20px);

}

.info {
    color: rgb(0, 0, 0);


}

.lol {
    color: white;
}


.row-one,
.row-two {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.courses .image {
    flex: 0 1 calc(33.33% - 20px);
    border-radius: 10px;
    padding-bottom: 10px;

}

.courses .image img {
    height: 100%;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;



}



/* 
 courses page ends
 */
